{{receiver.name}}さん
お疲れ様です！Torica管理システムのご協力ありがとうございます。

以下の端末の返却予定日を過ぎていますが、まだ返却申請を受け付けていません。
至急、貸出端末にて返却処理を実施してください。


端末名
    {{device.name}}
返却予定日
    {{device.dueReturnTime}}


（・８・）──────────────────────────────────
　　　Torica 開発機貸出管理システム
　　　
　　　担当: 山本
───────────────────────────────────（・８・）