{{receiver.name}}さん
お疲れ様です！Torica管理システムのご協力ありがとうございます。


[ユーザー名]
{{receiver.name}}
[ユーザーID]
{{receiver.id}}
[メールアドレス]
{{receiver.address}}


以上の情報でユーザー登録を行いました。
今後、開発機の使用申請はこちらのアカウントをご利用ください！


（・８・）──────────────────────────────────
　　　Torica 開発機貸出管理システム
　　　
　　　担当: 山本
───────────────────────────────────（・８・）